h3{text-transform: uppercase;}
p{text-align: right;font-family: Arial, Helvetica, sans-serif;}
a{font-size: 16px;font-style: italic;}
header{border-style: solid;background-color: lightskyblue;}
main{ margin:15px;padding: 10px; height: 80%;width: 70%;}
footer{margin: 15px;padding: 10px; background-color:  lightskyblue;}
.job-title{font-weight: bold;color: maroon;}
.large-list{font-size: 25px; font-weight: bold;}
ul{font-size: 18px; font-weight: normal;}
img{ border-radius:8px;display: block; margin-left: auto;margin-right: auto;width: 50%;height: 200px;width: 200px; border-style: solid; border-width: 5px;}
