body {
    background-color: #D5D5D5;
}

h1 {
    color:#9099a2;

}

h2,
h3,
h4,
h5,
h6 {
    color: #6D7993;
    /* Accent */
}

a {
    color: inherit;
}

a:hover {
    color: #6D7993;
    ;
}


/* Homepage styles*/
.cover {
    background-image: url(swirl.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 25%;
}

.front-logo h1{ color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.col-sm-2 {
    height: 200px;
    padding: 2em;
    margin-top: 2em;
}

.front-nav-1 {
    background-color: #64271b;}
    .front-nav-2{background-color: #354243;}
    .front-nav-3{background-color: #80598d;}
    img{width: 200px;height: 200px;}
    .center{ text-align: center;}
    .boom{ color: darksalmon; text-decoration: overline;}
   thead{background-color: #80598d;}
   table:hover{color: aliceblue; border-style: dotted;}
   tbody:hover{background-color: lightblue;}
   td{padding-top: 150px;}
