h1{text-align: center;color: darkgreen;}
img{height: 500px; width: 300px;}
body{ background-color: black;}
li:hover{background-color: darkgreen;}
tbody:hover{background-color: darkgreen;border-style: double; border-color: bisque;}
h3{color: beige;}
