h1 
{color: blueviolet;}
h2
{color: aqua;}
.header{background-color: olivedrab;}
.header{color: white;text-align: center;}
.odd-row{background-color: sandybrown;}
.even-row{background-color: indianred;}
td{padding: 10px; text-align: center;}
.endangered{color: red;}
.threatend{color: orangered;}